{% extends "base.html" %}
{% block title %}SAM File Browser | Biotin-Flask{% endblock %}

{% block body %}

<!-- Breadcrumb Trail-->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('sam') }}">Samfile Analysis</a></li>
  <li class="breadcrumb-item active">SAM File Browser</li>
</ol>
<!-- End Breadcrumbs -->

<div class="row">
<div class="col-lg-12">

    <h1>SAM File Browser</h1>

    <ul style="font-style: italic">
        <li>Version 0.01 (11-27-2017)</li>
        <li>Your current session ID is: {{ session_id }} <a href="{{ url_for('sam_logout') }}">[Reset]</a></li>
    </ul>

    <hr>

    <h3>Currently Uploaded Files:</h3>
    <div class="card">
      <div class="card-body">
        <a href="{{ url_for('sam_upload') }}" class="btn btn-secondary btn-sm link-hover" style="float:right;">
          Change
        </a>
        <p><b>SAM/BAM File(s):</b></p>
        <ol>
          {% for file in samfiles %}
          <li>{{ file }}</li>
          {% endfor %}
        </ol>
        <p><b>FASTA File:</b></p>
        <ul>
          {% if fastafile %}
          <li>
            {{ fastafile }}
            {% if badFasta %}
            <span class="badge badge-warning">Warning: FASTA file does not match SAM files.</span>
            {% endif %}
          </li>
          {% else %}
          <li>No file currently uploaded.</li>
          {% endif %}
        </ul>
      </div>
    </div>

    <h3>Select Gene:</h3>
    <table id="selectGeneTable" class="table table-bordered table-sm table-condensed text-center table-hover">
      <thead class="thead-dark">
        <tr>
          <th></th>
          {% for file in samfiles %}
          <th>Sample {{ loop.index }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
    	{% for row in rows %}
    		<tr class="link-hover" data-gene="{{ genes[loop.index - 1] }}">
          <td>{{ genes[loop.index - 1] }}</td>
          {% for file in samfiles %}
          {% if row[loop.index - 1] %}
          <td><i class="fa fa-check" style="color:green;" aria-hidden="true"></i></td>
          {% else %}
          <td><i class="fa fa-times" style="color:red;" aria-hidden="true"></i></td>
          {% endif %}
          {% endfor %}
        </tr>
    	{% endfor %}
      </tbody>
    </table>

    <hr>

    <h3>Select Coordinates:</h3>
    <form id="coordinateForm" action="{{ url_for('sam_browse') }}" role="form" method="post" enctype="multipart/form-data">
      <div class="card">
        <div class="card-body">

          <div class="btn-group form-group" data-toggle="buttons" style="float:right;">
            <label for="modeInput-range" class="btn btn-sm btn-outline-primary active">
              <input id="modeInput-range" name="mode" type="radio" value="range" checked> Range
            </label>
            <label for="modeInput-custom" class="btn btn-sm btn-outline-primary">
              <input id="modeInput-custom" name="mode" type="radio" value="custom"> Custom
            </label>
          </div>

          <legend><small>Required:</small></legend>

          <div class="form-group">
            <label for="geneInput">Gene</label>
            <input id="geneInput" name="gene" type="text" placeholder="No gene selected" class="form-control" readonly {% if genes|length == 1 %}value="{{ genes[0] }}"{% endif %}>
            <small class="form-text text-muted">Please select a gene from the table above.</small>
          </div>

          <div data-toggle="range-toggle">
            <label>Coordinate Range</label>
            <div class="form-row">
              <div class="form-group col">
                <div class="input-group">
                  <label for="startInput" class="input-group-addon">Position Start</label>
                  <input id="startInput" name="start" type="number" placeholder="123" class="form-control">
                </div>
              </div>
              <div class="form-group col">
                <div class="input-group">
                  <label for="endInput" class="input-group-addon">Position End</label>
                  <input id="endInput" name="end" type="number" placeholder="456" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div data-toggle="custom-toggle" class="form-group" style="display:none;">
            <label for="customInput">Custom Coordinates</label>
            <textarea id="customInput" name="custom" class="form-control" rows="5"></textarea>
            <small class="form-text text-muted">Please enter one coordinate position per line.</small>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <legend><small>Advanced Options:</small></legend>

          <div class="form-group">
            <label for="output">Output Mode</label>
            <select name="output" class="form-control">
              {% if samfiles|length == 1 %}
              <option name="output" value="html">Web (.html)</option>
              {% endif %}
              <option name="output" value="csv">Download (.csv/.zip)</option>
            </select>
          </div>

        </div>
      </div>

      <a href={{ url_for('sam') }} class="btn btn-lg btn-secondary">Back</a>
      <button id="submitButton" type="submit" form="coordinateForm" class="btn btn-lg btn-primary">Submit</button>

    </form>

</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sam_browse.js')}}"></script>
{% endblock %}
