{% extends "layouts/base.html" %}
{% block title %}Samfile Analysis| {{ config.APP_NAME }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
  <li class="breadcrumb-item active">Samfile Analysis</li>
</ol>
{% endblock %}

{% block body %}
<!-- Project One -->
<div class="row">
    <div class="col-md-2 ">
        <i class="fa fa-files-o" style="display:block;text-align:center;font-size:8em;margin-top:20px;"></i>
    </div>
    <div class="col-md-8">
        <h3>File Manager</h3>
        <p>Upload and manage SAM, BAM, and FASTA files to be analyzed.</p>
        <a class="btn btn-primary" href="{{ url_for('sam.upload') }}">Select This</a>
    </div>
</div>
<hr>
<!-- /.row -->

{% if showHidden %}
<!-- Project Two -->
<div class="row" style="display:none;">
    <div class="col-md-2 ">
        <i class="fa fa-bar-chart" style="display:block;text-align:center;font-size:8em;margin-top:20px;"></i>
    </div>
    <div class="col-md-8">
        <h3>Samfile Metrics</h3>
        <p>View metrics and statistics about each SAM file.</p>
        <a class="btn btn-primary" href="{{ url_for('main.index') }}">Select This</a>
    </div>
</div>
<!-- /.row -->

<!-- Project Three -->
<div class="row">
    <div class="col-md-2 ">
        <i class="fa fa-search-plus" style="display:block;text-align:center;font-size:8em;margin-top:20px;"></i>
    </div>
    <div class="col-md-8">
        <h3>Samfile Sequence Browser</h3>
        <p>Browse the sequence of all reads within specific coordinate ranges.</p>
        <a class="btn btn-primary" href="{{ url_for('main.index') }}">Select This</a>
    </div>
</div>
<hr>
<!-- /.row -->
{% endif %}
{% endblock %}
