{% extends "layouts/base.html" %}
{% from 'macros/form_macros.html' import form_field %}
{% block title %}File Manager | {{ config.APP_NAME }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('sam.index') }}">Samfile Analysis</a></li>
  <li class="breadcrumb-item active">File Manager</li>
</ol>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">

    <h1>SAM File Manager</h1>

    <ul style="font-style: italic">
        <li>Version 0.01 (11-27-2017)</li>
    </ul>

    <hr>

    <h3>Upload Additional Files:</h3>
    <div class="card">
      <div class="card-body">
        <form id="uploadForm" role="form" action="{{ url_for('sam.upload') }}" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form_field(form, form.sam, multiple="") }}
          {{ form_field(form, form.fasta) }}
        </form>
        <a class="btn btn-secondary" href={{ url_for('sam.index') }}>Back</a>
        <button id="submitButton" class="btn btn-primary" type="submit" form="uploadForm" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> @Localization.Uploading">Upload</button>
      </div>
    </div>

    <div id="spinner"><i class="fa fa-spinner fa-spin" style="font-size:100px"></i></div>
    <div id="page-cover"></div>

</div>
</div>
{% endblock %}
