{% extends "base.html" %}
{% block title %}Samfile Pileup Viewer | Biotin-Flask{% endblock %}

{% block body %}

<!-- Breadcrumb Trail-->
<ol class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('sam') }}">Samfile Analysis</a></li>
  <li class="active">Samfile Pileup Viewer</li>
</ol>
<!-- End Breadcrumbs -->

<div class="row">
<div class="col-lg-12">

    <h1>Samfile Pileup Viewer</h1>

    <ul style="font-style: italic">
        <li>Version 1.02 (05-15-201)</li>
        <li>Providing a .sam file will output the results on an HTML page.</li>
        <li>Providing a .zip file of multiple SAM files will output the results as an archive of .csv files.</li>
    </ul>
    <hr>
    <form role="form" action="{{ url_for('pileup') }}" method="post" enctype="multipart/form-data">
        <h3>Required Paramters:</h3>

        <div class="form-group">
			<label for="region">Amplicon Region (e.g. chr1:10000-20000):</label> <span style="color:red;">*required</span>
			<input type="text" class="form-control" name="region" placeholder="chr1:10000-20000">
	    </div>

        <div class="form-group">
			<label for="sam">SAM/.zip File:</label> <span style="color:red;">*required</span>
			<input class="form-control" type="file" name="sam">
	    </div>

        <hr>

        <h3>Optional Parameters:</h3>
        <div class="form-group">
            <div class="checkbox">
                <label><input name="options" type="checkbox" value="ShowIndel">Show insertions in the reference sequence</label>
            </div>
            <div class="checkbox">
                <label><input name="options" type="checkbox" value="ShowExt">Show the full sequence of all reads overlapping the target region</label>
            </div>
        </div>

        <div class="form-group">
			<label for="ids">Fasta ID coordinate filter (optional):</label>
			<textarea class="form-control" name="ids" rows="10" placeholder="one ID per line only, no commas or extra lines"></textarea>
	    </div>

	    <button class="btn btn-default btn-lg" type="submit">Submit</button>
    </form>
</div>
</div>
{% endblock %}
