{% extends "base.html" %}
{% block title %}Home | Biotin-Flask{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to server:<strong>biotin</strong></h1>
        <div style="font-size:150%;">
          <p>EpigenDx presents, <strong>Biotin•Flask</strong>, a set of web-based bioinformatic tools tailored for DNA methylation analysis developed using python, the <a href="http://pysam.readthedocs.org/en/latest/" target="_blank">pysam</a>/<a href="http://www.htslib.org/" target="_blank">htslib</a> libraries, and the <a href="http://flask.pocoo.org/" target="_blank">Flask Framework</a>.
          <p>These are in-house tools used by the EpigenDx services team and regularly updated.</p>
          <p>Please contact <a href="mailto:zhou.eric.y@gmail.com">zhou.eric.y@gmail.com</a> for questions and technical support.</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
