{% extends "base.html" %}
{% block title %}Home | Biotin-Flask{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">
    <div class="jumbotron">
        <h1>Welcome to server:<strong>biotin</strong></h1>
        <p>EpigenDx presents, <strong>Biotin•Flask</strong>, a set of web-based bioinformatic tools tailored for DNA methylation analysis developed using python, the <a href="http://pysam.readthedocs.org/en/latest/" target="_blank">pysam</a>/<a href="http://www.htslib.org/" target="_blank">htslib</a> libraries, and the <a href="http://flask.pocoo.org/" target="_blank">Flask Framework</a>. The web portal is hosted on our computational server. 
        <p>Contact <a href="mailto:jyzhou@epigendx.com">jyzhou@epigendx.com</a> for inquiries or to report any issues.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/zxqwerxz/biotin-flask" target="_blank">View Source Code on GitHub</a></p>
    </div>
</div>
</div>
{% endblock %}