{% extends "base.html" %}
{% block title %}Samfile Analysis| Biotin-Flask{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li class="active">Samfile Analysis</li>
</ol>

<!-- Project One -->
<div class="row">
    <div class="col-md-2 ">
        <i class="fa fa-files-o" style="display:block;text-align:center;font-size:8em;margin-top:20px;"></i>
    </div>
    <div class="col-md-8">
        <h3>File Manager</h3>
        <p>Upload and manage SAM, BAM, and FASTA files to be analyzed.</p>
        <a class="btn btn-primary" href="{{ url_for('sam_upload') }}">Select This</a>
    </div>
</div>
<hr>
<!-- /.row -->

<!-- Project One -->
<div class="row">
    <div class="col-md-2 ">
        <i class="fa fa-cubes" style="display:block;text-align:center;font-size:8em;margin-top:20px;"></i>
    </div>
    <div class="col-md-8">
        <h3>Samfile Pileup Viewer</h3>
        <p>Visualize each site within a single amplicon region by clonal read. Designed for manual CpG/SNP calling or QC purposes.</p>
        <p>Accepts SAM/.zip input and outputs html/csv(.zip).</p>
        <a class="btn btn-primary" href="{{ url_for('pileup') }}">Select This</a>
    </div>
</div>
<!-- /.row -->

<hr>
{% endblock %}
