{% extends "base.html" %}
{% block title %}Samfile Analysis| Biotin-Flask{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li class="active">Samfile Analysis</li>
</ol>

<!-- Project One -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Single Samfile Analysis</h3>
        <p>Clonal reads analysis of a single samfile or bamfile.</p>
        <a class="btn btn-primary" href="{{ url_for('clonal_single') }}">Select This</a>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Project One -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Multiple Samfile Analysis</h3>
        <p>Clonal reads analysis of multiple samfiles (.zip).</p>
        <a class="btn btn-primary" href="{{ url_for('clonal_multiple') }}">Select This</a>
    </div>
</div>
<!-- /.row -->

<hr>
{% endblock %}
